/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px, 10px/16(browser default) = 62.5% */
}

body {
	font-family: "Titillium Web", "Open Sans", sans-serif;
	letter-spacing: 1.5px;
	margin: 0;
}

a:link {
	text-decoration: none;
}

/*----------------------------------
Headings
------------------------------------*/

h1 {
	font-weight: 300;
	font-size: 3.8rem;
	word-spacing: 8px;
	letter-spacing: 6px;
	text-transform: uppercase;
}

/*----------------------------------
NAVIGATION
------------------------------------*/

.navbar {
	font-size: 1.8rem;
	background-color: #000;
	border: 2px solid rgba(92, 91, 91, 0.2);
	position: fixed;
	z-index: 10;
	width: 100%;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 1.8rem auto;
}

.navbar-toggle {
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.9);
	font-size: 2rem;
}

.active {
	display: block;
}

.nav-link a {
  text-decoration: none;
	text-transform: uppercase;
  padding: 1.8rem;
	cursor: pointer;
	color: #fff;
}

.nav-link a:hover {
	color: #279af1;
}

/*----------------------------------
HEADER
------------------------------------*/

.img-logo {
	width: 12rem;
	padding: 1.2rem;
}

/*
Header-image
Photo by Simon Caspersen on Unsplash
*/
.header-img {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: repeating-linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5) .2rem,
  rgba(0, 0, 0, 0.4) .3rem,
  rgba(0, 0, 0, 0.4) .4rem),
	url(..//images/simon-caspersen-b-w-524699-unsplash.jpg) no-repeat fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-text-box {
	font-size: 1.8rem;
	color: #fff;
	padding: 2rem;
}

#hero-btn,
.btn {
	background-color:#279af1;
  border-radius: 8px;
  color: #fff;
  font-size: 1.7rem;
	padding: 1rem;
  margin: 2rem;
  border: 0;
	cursor: pointer;
	box-shadow: 7px 7px 7px rgba(0, 0, 0,0.6);
	display: inline-block;
	transition: all .3s ease-in-out;
}

#hero-btn:hover {
	transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .6);
  color: #fff;
}

#hero-btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .6);
}

/*----------------------------------
SCROLL-DOWN BUTTON
------------------------------------*/

.scroll-down {
	display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.5rem;
  color: #fff;
  animation: MoveUpDown 1s linear infinite;
}

.scroll-down:hover {
  animation-play-state: paused;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10%;
  }
  50% {
    bottom: 12%;
  }
}
