/*----------------------------------
Global Stlyes
------------------------------------*/
* {
	margin: 0;
	padding: 0;
}

/* border box fix */
*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10px, 10px/16(browser default) = 62.5% */
}

body {
	font-family: "Titillium Web", "Open Sans", sans-serif;
	letter-spacing: 1.5px;
	margin: 0;
}

a:link {
	text-decoration: none;
}

/*----------------------------------
Headings
------------------------------------*/
h1 {
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 4px;
	font-weight: 300;
	font-size: 3.5rem;
	word-spacing: 8px;
	letter-spacing: 6px;
}

h2 {
	font-size: 2.8rem;
	margin-top: 3.5rem;
	text-transform: uppercase;
}

/*----------------------------------
NAVIGATION
------------------------------------*/

.navbar {
	font-size: 1.6rem;
	background-color: #000;
	border-bottom: 2px solid rgba(92, 91, 91, 0.2);
	position: fixed;
	z-index: 10;
	width: 100%;
}

.main-nav {
	list-style-type: none;
	display: none;
}

.main-nav li {
	text-align: center;
	margin: 1.8rem auto;
}

.navbar-toggle {
	position: absolute;
	top: 3.5rem;
	right: 3.5rem;
	cursor: pointer;
	background-color: #000;
	color: rgba(255, 255, 255, 0.9);
	font-size: 2rem;
	border: none;
}

.active {
	display: block;
}

.nav-link a {
  text-decoration: none;
	text-transform: uppercase;
  padding: 1.8rem;
	cursor: pointer;
	color: #fff;
}

.nav-link a:hover {
	color: #279af1;
}

/*----------------------------------
HEADER
------------------------------------*/

.img-logo {
	width: 12rem;
	padding: 1.2rem;
	user-select: none;
}

/*
Header-image
Photo by Simon Caspersen on Unsplash
*/
.header-img {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: repeating-linear-gradient(
  90deg,
  rgba(0, 0, 0, 0.5),
  rgba(0, 0, 0, 0.5) .2rem,
  rgba(0, 0, 0, 0.4) .3rem,
  rgba(0, 0, 0, 0.4) .4rem),
	url(..//images/simon-caspersen-b-w-524699-unsplashx1.jpg) no-repeat fixed;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hero-text-box {
	color: #fff;
	padding: 2rem;
	margin-bottom: 2rem;
}

.hero-paragrapgh,
.tel-num {
	font-size: 1.4rem;
	font-weight: 600;
	color: rgb(221, 221, 221);
}

.tel-num {
	color: #fff;
}

.btn {
	background-color: #0a5994;
  border-radius: 8px;
  color: #fff;
  font-size: 1.6rem;
	padding: 1rem;
  margin: 0.8rem;
  border: 0;
	cursor: pointer;
	box-shadow: 7px 7px 7px rgba(0, 0, 0,0.6);
	display: inline-block;
	transition: all .3s ease-in-out;
}

.btn:hover {
	transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  color: #fff;
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.6);
}

.social-media-links {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: #131112;
	display: flex;
	justify-content: space-around;
	padding: 1.5rem;
	border-top: 2px solid rgba(92, 91, 91, 0.2);
}

.social-links {
	color: #279af1;
	font-size: 1.6rem;
}

.social-links:visited {
	color: #279af1;
}

/*----------------------------------
SCROLL-DOWN BUTTON
------------------------------------*/

.scroll-down {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3.3rem;
  color: #fff;
  animation: MoveUpDown 1s linear infinite;
}

.scroll-down:hover {
  animation-play-state: paused;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 10%;
  }
  50% {
    bottom: 12%;
  }
}

/*----------------------------------
MAIN
------------------------------------*/

.section {
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	margin: 6em auto;
	text-align: center;
	width: 100%;
	padding: 2em;
}

.text {
	font-size: 1.8rem;
	margin: 1.5em 0;
	color: rgb(65, 64, 64);
}

/*----------------------------------
ABOUT SECTION
------------------------------------*/

.section-about {
	background: url(..//images/brickwall.png);
	margin-top: 0;
}

.span-about {
	color: #279af1;
	font-style: italic;
}

.about-link:link,
.about-link:visited {
		font-size: 1.5rem;
		color: #0a5994;
		display: inline-block;
		text-decoration: none;
		border-bottom: 1px solid #0a5994;
		padding: 3px;
		transition: all .2s;
	}

.about-link:hover {
		padding: 0.5rem;
		background-color: #0a5994;
		color: #fff;
		box-shadow: 0 1rem 2rem rgba(0,0,0, 7);
		transform: translateY(-2px);
	}

.about-link:active {
		box-shadow: 0 .5rem 1rem rgba(0,0,0, 7);
		transform: translateY(0);
	}
